<% layout('/layout/boilerplate') %>
<section id="home" class="section">
            <div class="container">
                <div class="hero__wrapper">
                    <div class="hero__content">
                        <h2 class="hero__title">Today's Special</h2>
                        <h2 class="highlight">Fried Chicken</h2>
                        <p>
                            “NeNe” simply means “Yes! Yes!” in Korean. Our network of stores has been serving authentic
                            Korean fried chicken since 1999. With over 1,000 stores across South Korea; Today at the
                            heart of our business lies a sense of excitement that translates into the combination of
                            quality products and memorable service to everyday Canadians.
                            <br>
                            At NeNe Chicken, our customers have come to expect deliciously marinated, moist on the
                            inside and crunchy on the outside. Chickens are served with their choice of Korean sauces
                            that truly represent the culture. Order online or walk-in to our stores for your
                            made-to-order NeNe experience.
                        </p>

                        <div class="hero__btns">
                            <button class="view__more-btn"><a href="/menu">View menu</a></button>
                            <span class="play__btn"><i class="ri-play-fill"></i></span>
                        </div>
                    </div>

                    <div class="hero__img">
                        <img src="assets/images/hero.png" alt="hero-img" />
                    </div>
                </div>
            </div>
        </section>
