<% layout('/layout/boilerplate') %>
<section class="section" id="order">
    <div class="container">
        <div class="order__wrapper">
            <div class="order__img">
                <img src="assets/images/product.webp" alt="product"/>
            </div>

            <div class="order__content">
                <h3>
                    Order Online - On Sale
                    <br>
                    <%= timestamp %>
                </h3>
                <h1>
                    Our Chicken Are Coming Your Way
                </h1>

                <button class="order__now"><a href="#">Order Now</a></button>
            </div>
        </div>
    </div>
</section>
