<% layout('/layout/boilerplate') %>
<section class="section">
    <div class="container">
        <div class="dishes__section-top">
            <h2>Side Dishes For You</h2>
        </div>

        <div class="dishes__wrapper">
            <div class="dish__item">
                <div class="dish__img">
                    <img src="assets/images/cheesy sticks.png" alt="side dish"/>
                </div>

                <div class="dish__content">
                    <h3>Cheesy Sticks</h3>
                    <div class="ratings">
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-half-s-line"></i></span>
                    </div>

                    <div class="dish__content-bottom">
                        <span class="dish__price">$9.99</span>
                        <span class="add__to-cart">
                                    <i class="ri-shopping-cart-line"></i>
                                </span>
                    </div>
                </div>
            </div>

            <div class="dish__item">
                <div class="dish__img">
                    <img src="assets/images/sweet potato fries.png" alt="side dish"/>
                </div>

                <div class="dish__content">
                    <h3>sweet potato fries</h3>
                    <div class="ratings">
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-half-s-line"></i></span>
                    </div>

                    <div class="dish__content-bottom">
                        <span class="dish__price">$9.99</span>
                        <span class="add__to-cart">
                                    <i class="ri-shopping-cart-line"></i>
                                </span>
                    </div>
                </div>
            </div>

            <div class="dish__item">
                <div class="dish__img">
                    <img src="assets/images/korean salad.png" alt="side dish"/>
                </div>

                <div class="dish__content">
                    <h3>Korean Salad</h3>
                    <div class="ratings">
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-s-fill"></i></span>
                        <span><i class="ri-star-half-s-line"></i></span>
                    </div>

                    <div class="dish__content-bottom">
                        <span class="dish__price">$9.99</span>
                        <span class="add__to-cart">
                                    <i class="ri-shopping-cart-line"></i>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
