<!doctype html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body>
<header class="header">
    <%- include('../partial/nav.ejs') %>
</header>
<main>
    <%- body %>
</main>
<footer class="section footer">
    <%- include('../partial/footer.ejs') %>
</footer>
</body>
</html>
