<% layout('layout/boilerplate') %>
<section class="section">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__content">
                <h2 class="hero__title"><%= err.statusCode %></h2>
                <hr>
                <p><%= err.message %></p>
            </div>
        </div>
    </div>
</section>



